$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '_inputrange.scss';

// can add Boostrap overrides, additional Sass/CSS below...
a {
  cursor: pointer;
}

.jumbotron {
  background-color: #60B5CC;
  color: #FFFFFF;

  h2 {
    color: #34495E;
  }

  .btn-primary {
    background-color: #34495E;
  }
}
